
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --my-color-gris:#f3f5f8;
    --my-color-gris-fonce:#3d535f;
    --my-color-jaune:#ffe800;
}
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "popins",sans-serif;
}

body{
    overflow: hidden;
}
.container{
    width: 100%;
    height: 900vh;
    background-color: var(--my-color-gris);

}

.entete{
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 80px;
    height: 80px;
    z-index: 111;
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800px;
    color: var(--my-color-gris-fonce);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.logo b{
    font-size: 70px;
    color: var(--my-color-jaune);
}
.logo span{
    color: var(--my-color-jaune);
}

.menu{
    display: flex;

}



.menu li a{
    margin: 15px;
   font-size: 25px;
   color: var(--my-color-gris-fonce);
   letter-spacing: 3px;
   text-transform: uppercase;
}

.menu li a:hover{
    
    color: var(--my-color-jaune);
    
 }
 .menu li .apro{

    font-size: 15px;
}
 .menu li .apro:hover{

    text-decoration: underline;
}
 .menu li .tra{

    font-size: 15px;
}
.menu li .tra:hover{

    text-decoration: underline;
}

.menu li .acc:hover{

    text-decoration: underline;
}

.reseaux a{
    font-size: 25px;
    color: var(--my-color-gris-fonce);
    margin: 25px 10px;

}

.reseaux a :hover{
    
    color: var(--my-color-jaune);
    

}
.corps{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;
    overflow: hidden;
}

.Cgauche,.Cdroite{
    width: 50%;
}

.Cgauche{
    z-index: 5;
}

.textB{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--my-color-gris-fonce);


}
.textB::after{
    position:absolute;
    content:'' ;
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: var(--my-color-jaune);
}

h1{
    display: block;
    font-size: 3em;
    font-weight: 900;
    color: var(--my-color-gris-fonce);
}

p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    text-align: justify;
    color: var(--my-color-gris-fonce);
}
.btn2{
    width: 100%;
    position: relative;
    left: 50px;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    background-color: var(--my-color-gris-fonce);
    color: var(--my-color-gris);
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    box-shadow: 0 15px 10px rgba(0, 0,0, 0.4);
    border-radius: 10px;
}

button:hover{
    background-color: var(--my-color-jaune);
    color: var(--my-color-gris-fonce);
}
.groupeImg{
    position: relative;
    width: 100%;
    height: 100%;
}
.groupeImg img{
    position: relative;
    width: calc(105%);
    height: 100%;
    right: 25px;
    top: 5px;
    animation: animateImg 5s linear infinite;
}

@keyframes animateImg{
    50%{
        right: 10px;
        top: 15px;
    }
}

.groupeImg  #idspl{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-15deg);
    filter: saturate(200%);
    width: 10%;
    animation: animateSplash 5s linear infinite;

}

@keyframes animateSplash{
    50%{
        right: 37%;
        top: 60%;
        width: 155%;
    }
}

.corps::before{
    position: absolute;
    content: '';
    height: 200px;
    width: 100%;
    border-radius: 50%;
        background: linear-gradient(45deg,#ffe800,pink);
        left: -15%;
        top: 40%;
        animation: beforeAnime 5s linear infinite;

}

@keyframes beforeAnime {
    50%{
        left: -10%;
        top: 10%;
    }
}


.corps::after{
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(50deg,#ffe800,pink);
    left: 30%;
    top: 15%;
    animation: afterAnimate 5s linear infinite;

}
@keyframes afterAnimate {
    50%{
        left:50%;
        top: 15%;
    }
}

#textDefil{
    color: #ffe800;
}

.fer{
    display: none;
}
/*GESTION DE LA RESPONSIVITEE*/

/* Media Queries */

/* Écrans de Bureau (Large) */
@media (min-width: 1200px) {
    .entete {
        padding: 0 20px;
    }
    
    .menu li {
        margin: 0 15px;
        font-size: 1px;
    }
    
    .logo {
        font-size: 2em;
    }

    .logo b {
        font-size: 2.5em;
    }
    
    .corps {
        flex-direction: row;
        padding: 0 10%;
    }
}
/*
Écrans de Tablette en Mode Paysage ou Petits Écrans (min-width: 768px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .entete {
        padding: 0 5px;
    }
    
    .menu li {
        margin: 0 5px;
        font-size: 1px;
    }
    
    .logo {
        font-size: 1em;
    }

    .logo b {
        font-size: 1em;
    }
    
    .corps {
        flex-direction: row;
        padding: 0 5%;
    }
}

/*Écrans Mobiles (max-width: 767px) */
@media (max-width: 767px) {
    .entete {
        padding: 0 2px;
    }
    .fer{
        display:block;
    }
    .menu li a{
        margin: 0px;
        font-size: 20px;
       
    
    }
    
    
    .logo {
        font-size: 1em;
        
    }

    .logo b {
        font-size: 1em;
        
    }
    
    .corps {
        flex-direction: row;
        padding: 0 5%;
    }
    .reseaux a{
        font-size: 22px;
        color: var(--my-color-gris-fonce);
        margin: 1px;
    
    }
    .menu li a{
        margin: 5px;
       font-size: 18px;
       color: var(--my-color-gris-fonce);
       letter-spacing: 1px;
       text-transform: uppercase;
    }
    button {
        font-size: 15px;
        margin: 1px;
    }
    .maPhoto{
        display: none;
    }
    .Cgauche{
        justify-content: center;
        align-items: center;
    }
}



