
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --my-color-gris:#f3f5f8;
    --my-color-gris-fonce:#3d535f;
    --my-color-jaune:#ffe800;
}
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "popins",sans-serif;
}



.entete{
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 80px;
    height: 80px;
    z-index: 111;
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800px;
    color: rgba(4, 24, 17, 0.233);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.logo b{
    font-size: 70px;
    color: var(--my-color-jaune);
}
.logo span{
    color: var(--my-color-jaune);
}

.menu{
    display: flex;

}



.menu li a{
    margin: 15px;
   font-size: 25px;
   color: var(--my-color-gris-fonce);
   letter-spacing: 3px;
   text-transform: uppercase;
}

.menu li a:hover{
    
    color: var(--my-color-jaune);
    
 }

 .menu li .apro:hover{

    text-decoration: underline;
}
 .menu li .tra{

    font-size: 15px;
}
.menu li .tra:hover{

    text-decoration: underline;
}
.menu li .acc{

    font-size: 15px;
}
.menu li .acc:hover{

    text-decoration: underline;
}

.reseaux a{
    font-size: 25px;
    color: var(--my-color-gris-fonce);
    margin: 25px 10px;

}

.reseaux a :hover{
    
    color: var(--my-color-jaune);
    

}



/*GESTION DE LA RESPONSIVITEE*/

/* Media Queries */

/* Écrans de Bureau (Large) */
@media (min-width: 1200px) {
    .entete {
        padding: 0 20px;
    }
    
    .menu li {
        margin: 0 15px;
        font-size: 1px;
    }
   
    
    .logo {
        font-size: 2em;
    }

    .logo b {
        font-size: 2.5em;
    }
    
    .corps {
        flex-direction: row;
        padding: 0 10%;
    }
}
/*
Écrans de Tablette en Mode Paysage ou Petits Écrans (min-width: 768px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .entete {
        padding: 0 5px;
    }
    
    .menu li {
        margin: 0 5px;
        font-size: 1px;
        color:  rgba(127, 255, 212, 0.089);
    }
    
    .logo {
        font-size: 1em;
    }

    .logo b {
        font-size: 1em;
    }
    
    .corps {
        flex-direction: row;
        padding: 0 5%;
    }
}

/*SECTION A PROPOS DE MOI */
.hr1{
    display: flex;
    width: 500px;
    position: absolute;
    right: 1%;
}

.hr2{
    width: 500px;

}




.enfants{

    background-color: #000000;
    margin-bottom: 47px;
    padding-bottom: 70px;
}
.jumaux-1{
    display: flex;
    margin: 50px;
    padding-top: 30px;
    color: #edf5faec;

    
}
.jumaux-2{
    display: flex;
    justify-content: flex-end;

    
}
.jumaux-2 img{
    width: 700px;
}
.fils-2{
    margin-top: 10px;
}

.fils-2 h3{
    font-size: 70px;
    color: whitesmoke;
}
.groupe-1{
    margin: 2px;
    display: flex;


}
.groupe-1 .g-html-css{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.219);
    background-color: rgba(127, 255, 212, 0.089);
    color: aliceblue;
    border-radius: 50px;
    padding: 50px;

}

.groupe-1 .g-javascript{
    color: whitesmoke;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}

small{
    font-size: large;
}
#reseaux{
text-align: center;
    align-items: center;
}


/*FIN   SECTION A PROPOS DE MOI */


/*Écrans Mobiles (max-width: 767px) */
@media (max-width: 767px) {
    .entete {
        padding: 0 2px;
    }
    
    .menu li a{
        margin: 0px;
        font-size: 20px;
       
    
    }
    
    
    .logo {
        font-size: 1em;
        
    }

    .logo b {
        font-size: 1em;
        
    }
    
    .corps {
        flex-direction: row;
        padding: 0 5%;
    }
    .reseaux a{
        font-size: 22px;
        color: var(--my-color-gris-fonce);
        margin: 1px;
    
    }
    .menu li a{
        margin: 5px;
       font-size: 18px;
       color: var(--my-color-gris-fonce);
       letter-spacing: 1px;
       text-transform: uppercase;
    }
    button {
        font-size: 15px;
        margin: 1px;
    }
}



